{%extends 'all-news/base.html'%}

 {% block content %}

 <div class="container">

     <div class="row">
       <h1 class="text-center">{{image.title}}</h1>
     </div>
   <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8"><img src="{{{{galascore_item.image.url}}"  class="img-responsive" alt="Image">
       </div>
       <div></div>
   </div>


   <div class="row">
       <col-md-2></col-md-2>
       <col-md-8><p>{{article.post}}</p>
    </col-md-8>
       <col-md-2></col-md-2>
    </div>

   <div class="row">
     <p> <em>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</em> </p>
   </div>

 </div>