{%extends 'all-pics/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

 

  {% if images %}
    {% for image in images %}
    <div class="row">
        <div class="col-md-4">
                <h1>Category: <em style="color: lightcyan;">{{image.category}}</em></h1>

            
            <h1>Location: <em style="color: lightcyan;">{{image.location}}</em></h1>
        </div>
        <div class="col-md-8">

            <p><img src="{{image.image.url}}" width="700px"  alt="" class="img responsive"></p>
        </div>


    </div>
    <div class="row">
        
      <div class="col-sm-6 col-md-4">
      </div>
      <div class="col-md-7 card-body" >
          <p style="color: lightcyan">{{image.details}}</p><br>
          
        <p style="color: black"> <em> Published on {{image.pub_date}} by {{ image.Postee}}</em></p>
    
      </div>
      <div class="col-md-4"></div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
