{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}

<div class="contaioner">
    {% for galascore_item in galascore %}
    <div class="row">

        <!-- display title -->
        <div class="col-md-5">
            <h2 class="text-center">{{ galascore_item.title}}</h2>

        </div> <br>
        <div class="col-md-7">
                <img src="{{galascore_item.image.url}}" class="img-responsive" alt="Image">



        </div>
        <!-- <div><h3>hbfdjsklm;kngjxfkdvmzl,mkngjk/mfvld,Mfkngjbkmxv</h3></div> -->

    </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}


</div>



{% endblock %}