{%extends 'all-pics/base.html'%}

{% block content %}
{{block.super}}

<!-- <div class="container">
    {% for galascore_item in galascore %}
    <div class="row"> -->

        <!-- display title -->
        <!-- <div class="col-md-5">
            <h2 class="text-center">{{ galascore_item.title}}</h2>

        </div> <br>
        <div class="col-md-7">
                <img src="{{galascore_item.image.url}}" class="img-responsive" alt="Image">
 


        <!-- </div> 
        <!-- <div><h3>hbfdjsklm;kngjxfkdvmzl,mkngjk/mfvld,Mfkngjbkmxv</h3></div>

    <!-- </div> -->
    <div class="container">
            <div class="row">
          ​
          ​
               
              <div class="col-md-2"></div>
              <div class="col-md-8 img-holder thumbnail" id="img-copy" >
                <a data-toggle="modal" data-target="#{{picture.pk}}">
                  <h3 class="text-center">{{ galascore_item.title}}</h3>
                  <img src="{{galascore_item.image.url}}"  alt="Picture"
                    style=" height: 300px;">
          ​
                </a>
                <p class="text-center
                ">click image for details</p>
              </div>
              <div class="col-md-2"></div>
          ​
            </div>
          ​
          ​
          <!-- ​
              <script>
                function copyLink(id) {
                  /* Get the text field */
                  var copyText = document.getElementById("thislinkhere-" + id);
          ​
                  /* Select the text field */
                  copyText.select();
          ​
                  /* Copy the text inside the text field */
                  document.execCommand("copy");
          ​
                  /* Alert the copied text */
                  alert("Do you want to share this link?: " + copyText.value);
                }
              </script>
          ​
          ​
              <!-- Modal -->
              <!-- <div id="{{image.pk}}" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width: 50%;">
          ​
                  <!-- Modal content-->
                  <!-- <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title text-center">Photo name : {{image.title}}</h4>
                    </div>
          ​
                    <div class="modal-body" style="width: 50%;">
                      <img src="{{image.image.url}}" class="img-responsive" alt="">
                      <p>Description: {{image.details}}</p>
                      <ul class="list-group">
                        <li class="list-group-item">Category : {{image.category}} </li>
                        <li class="list-group-item">Shot in : {{image.location}}</li>
                        <li class="list-group-item">Photo description : {{image.details}}</li>
                        <li class="list-group-item"> <a onclick="copyLink({{image.id}})"><button type="button"
                              class="btn btn-outline-warning my-2 my-sm-0 link-btn">Copy picture Link</button></a>
                          <input class="form-control" type="text" value="http://127.0.0.1:8000{{image.picture.url}}"
                            id="thislinkhere-{{picture.id}}" style="width:50%;">
                          <a></a></li>
                      </ul>
          ​
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
          ​
                </div>
              </div>
          ​
          ​
            
          </div> --> 
           

    {% empty %}
    <div class="row">
      <h2 class="text-center">There No News Items</h2>
    </div>
    {% endfor %}


</div>



{% endblock %}